/*global*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@100;400;700&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
	color: #fff;
	box-sizing: border-box;
}
:root{
	--dgreen: #2c733f;
	--vdgreen: #255432;
	--lgreen: #37ab56;
	--vlgreen: #61ed86;
}
.container{
	width: 80%;
	margin: auto;
}
body{
	background-color: var(--lgreen);
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/*header*/
header{
	background-color: var(--dgreen);
	height: 80px;
	border-bottom: 3px #000 solid;
}
header h1{
	float: left;
	margin: 2px;
	padding-top: 3px;
	font-family: kalam;
	font-size: 46px;
}
nav{
	float: right;
	margin: 27px;
}
nav ul{
	list-style: none;
}
nav li{
	display: inline;
	padding: 0px 10px;
	margin: 0px 5px;
	font-size: 22px;
}
nav a{
	color: var(--lgreen);
}
nav a:hover{
	border-bottom: 2px #fff solid;
}
nav a:active{
	color: var(--vlgreen);
}
span.current a{
	color: #fff;
	border-bottom: 2px #fff solid;
}
/*showcase*/
.showcase{
	background-image: url('../media/paddestoelen.jpg');
	background-color: #000;
	height: 400px;
	background-position: 50% 20%;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 3px #000 solid;
}
.showcase .titlebox{
	max-height: 400px;
	overflow: hidden;
	float: left;
	width: 79%;
}
.showcase .titlebox h1{
	font-family: kalam, sans-serif;
	font-size: 50px;
	padding: 40px 0px 0px 30px;
}
.showcase .titlebox .textbox{
	width: 40%;
	padding: 10px 0px 10px 40px;
}
.showcase .titlebox a{
	margin: 0px 0px 0px 50px;
	color: var(--lgreen);
	font-size: 1.2em;
	font-weight: bold;
}
.showcase .titlebox a:hover{
	color: var(--lgreen);
	border-bottom: 2px #fff solid;
}
.showcase .titlebox a:active{
	color: var(--vlgreen);
}
.showcase .socials{
	float: right;
	width: 20%;
	margin: 100px 0px 0px 0px;
	border: 4px var(--dgreen) solid;
	border-radius: 10px;
}
.showcase .socials h1{
	padding-top: 10px;
	font-size: 1.4em;
}
.showcase .socials ul{
	padding: 15px 0px 10px 0px;
}
.showcase .socials li{
	display: inline;
	margin: 0px 12px 0px 0px;
}
.showcase .socials img{
	width: 30px;
	background-color: rgba(97, 237, 134, 0.4);
	border: 2px rgba(97, 237, 134, 0.1) solid;
	border-radius: 3px;
}
.showcase .socials img:hover{
	background-color: rgba(97, 237, 134, 0.6);
	border: 2px rgba(97, 237, 134, 0.3) solid;
	border-radius: 3px;
}
.showcase .socials img:active{
	background-color: rgba(97, 237, 134, 0.9);
	border: 2px rgba(97, 237, 134, 0.6) solid;
	border-radius: 3px;
}
/*textarea*/
.textarea ul{
	display: flex;
	align-items: center;
	Margin: 20px 0px;
}
.textarea li{
	text-align: center;
	background-color: var(--dgreen);
	padding: 20px 20px;
	border: 5px var(--dgreen) solid;
	border-radius: 10px;
	margin: 10px 20px;
}
/*footer*/
footer{
	height: 80px;
	background-color: var(--dgreen);
	text-align: center;
}
footer h1{
	font-size: 25px;
	padding: 25px;
}
@media(max-width: 890px){
	header{
		height: 230px;
		display: flex;
		text-align: center;
	}
	header h1{
		float: none;
	}
	nav{
		float: none;
	}
	nav li{
		padding: 5px 15px 10px 15px;
		margin: 0px 5px 0px 5px;
		background-color: var(--vdgreen);
		border: 5px var(--vdgreen) solid;
		border-radius: 5px;
		line-height: 2.6em;
	}
	.showcase{
		text-align: center;
		display: flex;
		align-items: center;
		height: 550px;
	}
	.showcase .titlebox{
		max-height: none;
		float: none;
		margin: auto;
		margin-bottom: 20px;
	}
	.showcase .titlebox .textbox{
	width: 100%;
	padding: 10px 0px 10px 0px;
	}
	.showcase .titlebox a{
		margin: 0px;
	}
	.showcase .socials a{
		margin: auto;
	}
	.showcase .socials{
		position: relative;
		display: block;
		float: none;
		margin: auto;
		padding: auto;
		width: 100%;
		height: 100px;
		background-color: rgba(97, 237, 134, 0.3);
		border: none;
		}
		.showcase .socials h1{
			text-align: center;
		}
		.showcase .socials. ul{
			
		}
		.textarea ul{
		display: block;
	}

}
