/*global*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.bandname{
	color: purple;
	padding: 1rem 0rem;
}
h2, h3{
	padding: 1em;
}
.button_1{
	padding: 1em 2em;
	color: black;
	background-color: #dedede;
	text-decoration: none;
	font-weight: 700;
}
.button_1:hover{
	background-color: #d3d3d3;
}
/*header*/
.header{
	min-height: 3em;
	background-color: black;
	color: rgba(227,227,227,0.7);
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.navitem{
	padding: 1em 1em;
}
.headername{
	display: none;
}
/*showcase*/
.showcase{
	padding: 13em 5em;
	background-color: #e6e6e6;
	background-image: url(showcase.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	transition: 150ms;
}
/*overons*/
.ons{
	background-color: #e6e6e6;
	text-align: center;
	padding: 1em 0em 0em 0em;
}
.ons h1{
	padding: 1em 1em 0em 1em;

}
.ons p{
	padding: 0em 0em 0.5em 0em;
}
.ons-top{
	padding: 0.5em 0em 2em 0em;
	justify-content: space-around;
	align-items: center;
}
.ons-topitem{
	padding: 1em;
	width: 40%;
	text-align: center;
}
#ons-topitem-tekstblok{
	flex-basis: 30em;
}
#ons-topitem-foto{
	flex-basis: 20em;
}
.ons-topitem img{
	width: 100%;
}
.ons-leden{
	background-color: #dedede;
	padding: 1em 2em;
	justify-content: center;
}
.onsitem{
	background-color: #e6e6e6;
	padding: 1em;
	border: 4px solid black;
	border-radius: 5px;
	margin: 0.5em;
	width: 21%;
	flex-basis: 10em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.onsitem h2{
	flex-basis: 3em;
}
.onsitem img{
	width: 100%;
}
/*Setlist*/
.setlist{
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 3em 0em 7em 0em;
}
.setlistitem{
	padding: 1em 2em;
}
.setlist .tekst{
	flex: 0 0 21em;
}
.setlist .verzoek{
	flex: 0 0 21em;
}
.setlist .lijst{
	flex: 0 0 21em;
	list-style-position: inside;
}
.setlist .lijst ul{
	padding: 0em 0em 2em 0em;
}
/*Media queries*/
@media(max-width: 42.5em){
	.navitem{
		display: none;
	}
	.headername{
		display: block;
	}
	.showcase{
		padding: 8em 5em;
		transition: 150ms;
	}
	.ons-topitem{
		width: 100%;
	}
	.onsitem{
		flex-basis: 20em;
	}
}