/*global*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
	margin: 0px;
	padding: 0px;
	font-family: ubuntu, sans-serif;
}
.container{
	width: 70%;
	margin: auto;
}
.highlight{
	color: rgba(227,227,227,0.9);
}
a{
	text-decoration: none;
	color: rgba(227,227,227,0.7);
}
form{
	display: inline;
}
select{
	background-color: #100806;
	color: rgba(227,227,227,0.7);
	font-size: 17px;
	border: none;
	text-transform: uppercase;
	text-align: center;
}
/*header*/
.header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	transition: 0.3s;
	background-color: #100806;
	color: rgba(227,227,227,0.7);
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
}
#branding{
	display: inline;
	float: left;
	padding: 13px 0px 0px 15px;
	font-size: 17px;
}
#dropdown{
	display: none;
}
select:hover{
	color: rgba(227,227,227,1);
	background-color: rgba(227,227,227,0.2);
	transition: 0.15s;
	cursor: pointer;
}
select:active{
	color: rgba(227,227,227,1);
	background-color: rgba(227,227,227,0.3);
	transition: 0.15s;
}
.header ul{
	margin-top: 13px;
}
.header li{
	display: inline;
}
/*links in de header*/
.header a{
	padding: 18px 15px;
}
.header a:hover{
	color: rgba(227,227,227,1);
	background-color: rgba(227,227,227,0.2);
	transition: 0.15s;
}
.header a:active{
	color: rgba(227,227,227,1);
	background-color: rgba(227,227,227,0.3);
	transition: 0.15s;
}
@media(max-width: 1110px){
	/*header*/
	.header{
		height: 64px;
		transition: 0.3s;
	}
	.header a{
		padding: 3px 15px;
	}
}
@media(max-width: 690px){
	.header{
		height: 50px;
		transition: 0.3s;
	}
	#dropdown{
		display: inline;
	}
	.header .remove{
		display: none;
	}
}
@media(max-width: 570px){
	
}